.footer-footer {
    font-size: 3em;
    margin: 0;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    color: white;
    pointer-events: none;
}

.marquee {
    display: inline-flex;
    animation: scrollbar 40s linear infinite;
}

.marquee-item {
    flex-shrink: 0;
}

@keyframes scrollbar {
    0% {
        transform: translateX(25%);
    }
    100% {
        transform: translateX(-50%);
    }
}
