.posts {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 6em;
}

.posts .post{
    background-color: white;
    padding:1em 6em 2em 2em;
    margin:1em;
    border-radius: 1em;
    color: black;
    max-width: 50%;
}

.posts .post h2{
    font-size: 2em;

}

.posts .post div{
    font-size: 1.5em;
}

.posts .post .post-button {
    border:none;
    background-color: white;
    color: #7e7d7d;
    font-size: 1.25em;
}

.posts .post .post-button:hover {
    cursor: pointer;
}

.posts .post .post-buttons {
    text-align: right;
}

.posts .post .delete-post:hover{
    color: #770d0d;
}

.posts .post .edit-post:hover{
    color:black;
}

.posts .post .post-footer{
    color: #737373;
    padding:0.5em;
}

button.add-post{
    height: 3em;
    border-radius: 1em;
    margin:0.25em;
    padding-right:2em;
    padding-left:2em;
    color:white;
    font-size: 1.25em;
    letter-spacing: 0.1em;
    background-color: black;
    border: 1px solid white;
}

button.add-post:hover{
    transition: background-color 0.3s ease-in-out;
    background-color: white;
    cursor:pointer;
    color: black;
}

div.add-post input{
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 1em;
    padding:0.5em;
    font-size: 1.5em;
    margin:0.5em;
    text-align: center;
}

div.add-post input::placeholder {
    color: white;
    font-size: 1.5em;
    opacity: 0.7; /* Adjust the opacity for placeholder text */
}