@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Readex+Pro:wght@200;300;400;500;700&display=swap');
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: black;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* ------ NAV ------*/
nav{
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  margin-bottom: 3em;
  padding:1em;
}

nav * {
  background-color: black;
  color:white;

}

nav .fb-logo {
  width: 80px;
  height: 50px;
}

nav .ig-logo {
  width: 45px;
  height: 45px;
}
nav .panda-logo {
  width: 100px;
  height: 120px;

}

nav button {
  border:none;
  height: 3em;
  border-radius: 1em;
  padding-right:2em;
  padding-left:2em;
  font-size: 1.25em;
  letter-spacing: 0.1em;
}


nav button:hover{
  cursor: pointer;
}

/*------ MENU -----*/

.menu{
  display:flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.menu .card {
  display: flex;
  margin: 0.5em;
  padding:3.5em;
  align-items:center;
  justify-content:center;
  width: 20em;
  height: 20em;
}

.menu-card h2{
  color: white;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  margin: 0.25em;
  font-weight: lighter;
  letter-spacing: 0.25em;
}

.menu .ramen-card{
  background-image:url("./img/darkmode-ramen.jpg") ;
  background-size: 90%;
  background-position:center;
}

.menu .sushi-card{
  background-image:url("./img/sushiview.png") ;
  background-size: 90%;
  background-position:center;

}

.menu .menu-button{
  margin-bottom: 0em;
  margin-top: 1em;
  margin-right: 2.5em;
  margin-left: 2.5em;
  background-color: #fefcec;
  border:none;
  padding:0;
  border-radius: 0.75em;
  transition: transform 0.3s ease-in-out; /* Dodane przejście, aby efekt był płynny */

}

.menu .menu-button:hover{
  transform: scale(1.05); /* Skalowanie na hover do 110% oryginalnej wielkości */
  cursor:pointer;
}
.menu .card p {
  font-size: 5em;
  color: #fefcec;
  text-transform: uppercase;
}

